@tailwind base;
@tailwind components;

// Code syntax highlighting,
// powered by https://highlightjs.org
@import '~highlight.js/styles/dracula.css';

@import 'base';
@import 'navigation';
@import 'blog';

@tailwind utilities;
